/* .propImg{
    padding: 10px;
    height: 350px;
    width: 415px;

} */
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.card-body-title{
    color: blue;
}

.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    opacity: .8;
}

.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;

}

.member-icons{
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left:auto;
    opacity: 0;


}

.card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
}

.animate{
    transition: all 0.3s ease-in-out;
}
