<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/Images/{{villa.image}}.jpg">

      </div>
      <div class="card-body">
        <h1 class="card-body-title">{{villa.name}}

        </h1>

        <div class="card-body-rate">
          <h3>Rate: {{villa.rate}}
          </h3>

        </div>



      </div>



      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>

        </div>


      </div>

    </div>


  </div>

    <div class="col-sm-8">
      <div class="card">
        <div class="view-details">
          <h2>
            Overview:-
          </h2>

        </div>
        <div class="Details p-5">
          <div class="Details-title">
            <h4>
              Occupancy:

            </h4>
          </div>
            <div class="Details-value">
              <h4>{{villa.occupancy}}

              </h4>

            </div>
            <div class="Details-title">
              <h4>Sqft:</h4>

            </div>
            <div class="Details-value">
              <h4>{{villa.sqft}}

              </h4>

            </div>
            <div class="Details-title"><h4>
              Details:
            </h4>

            </div>
            <div class="Details-value">
              <h4>{{villa.details}}

              </h4>

            </div>












        </div>

      </div>




    </div>



</div>

